@import url("syntax.css");

.clear {
    clear: both;
}

body {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.25em;
}

a {
    color: #880000;
}

h2 a {
    color: black;
}

a:visited {
    color: #444444;
}

pre, code, tt {
    font-family: monospace, serif; /* Avoid smaller fonts */
}

code {
    font-size: 85%;
}

pre code {
    font-size: 100%;
}

.screenshot {
    float: right;
    margin-left: 1em;
}

.codegroup, .highlight {
    padding: 0.5em !important;
    border: 1px dotted gray;
    margin-bottom: 1em;
    font-size: 85%;
}

.codegroup .highlight {
    border: none;
    font-size: 100%
}

.highlight pre {
    margin: 0;
}

.codegroup div {
    margin: 0em !important;
    padding: 0em !important;
}

.highlight {
    position: relative;
}

.codegroup pre {
    margin: 2px 0 2px 1ex; /* Margins collapse */
    padding: 0 0 0 4px;
}

.codegroup .highlight pre:before{
    position: absolute;
    left: 0;
    top: -1px;
    width: 1ex;
    height: 100%;
    content: "";
    background: #0000ff;
    border: 1px solid #000080;
}

.codegroup .edited .highlight pre:before {
    background: #ffff00;
    border-color: #808000;
}

.codegroup .old .highlight pre:before {
    background: #ff00ff;
    border-color: #800080;
}

.codegroup .error .highlight pre:before {
    background: #ff0000;
    border-color: #800000;
}

.codegroup .running .highlight pre:before {
    background: #00ff00;
    border-color: #008000;
}

.codegroup .comment .highlight pre:before {
    background: none;
    border: none;
}

.errorhighlight .highlight {
    background: #ffddaa;
}

.codegroup .output {
    font-style: italic;
}

.codegroup .output.old {
    color: #888888;
}

.codegroup .output.error {
    color: #aa0000;
}

.codegroup .output.warning {
    color: #aa8800;
}

.navigation-section {
    border-bottom: 1px solid #444444;
    margin-bottom: 1em;
}

.navigation-header {
    float: right;
    padding-top: 0.5em;
}

.navigation {
    display: inline;
    /*
   -moz-box-shadow: inset 0em 0em 0.2em #444444;
   -webkit-box-shadow: inset 0em 0em 0.2em #444444;
   box-shadow: 0em 0em 0.2em #444444;
   */
   padding: 0.25em;
   border: 1px solid black;
   background: #ffffdf;

   background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e8e8e8));
   background-image: linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
}

.navigation li {
    display: inline;
    border-left: 1px solid #aaaaaa;
    margin: 0px;
    padding: 0.25em;
}

.navigation li.active {
    font-weight: bold;
}

.navigation a {
    text-decoration: None;
    color: black;
}

.navigation a:visited {
    color: black;
}

.navigation li:first-child {
    border-left: none;
}

.news-list {
    list-style: none;
    padding-left: 0em;
}

.news-list li {
    margin-left: 0em;
    padding-left: 0em;
}

.addon {
    clear: both;
    margin-bottom: 0.5em;
}

.addon h3 {
    margin-bottom: 0.25em;
}

.addon a.name {
    text-decoration: none;
}

.addon .author {
    font-style: italic;
}

.addon img {
    float: right;
    padding-bottom: 1em;
}

.addon div {
    display: block;
    margin: 0.5em 0;
    padding-left: 1em;
}

.addon .codegroup {
    float: right;
    width: 40ex;
    margin: 0 1em;
}
