.highlight  { background: #ffffff; }
.highlight .c { color: #3f7f5f; } /* Comment */
.highlight .k, .highlight .kn, .highlight .ow { color: #7f0055; font-weight: bold } /* Keywords */
.highlight .s, .highlight .sd { color: #00aa00 } /* Strings */
.highlight .bp { color: #55007f } /* Builtins */
